@import "tools";


$images-dir: "../images";

$text-primary-color: #ffffff;
$text-secondary-color: #9ff142;

// The width of the screen under which header switches to alternative layout
// for smaller screens
$header-max-width-breakpoint: 620px;
