@import "shared";


$header-height: 90px;
$header-height-smaller-screens: 202px;
$main-horizontal-padding: 157px;
$main-horizontal-padding-small-screens: 60px;
$popup-top-offset: 28px;


.layout-body {
  $actual-padding-top: 30px;

  display: flex;
  flex-flow: column nowrap;
  padding: $header-height 0 0;
}

.layout-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
}

.layout-page-footer {
  order: 2;
  height: 527px;
  padding: 31px $main-horizontal-padding
}

.layout-footer-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: {
    left: $main-horizontal-padding;
    right: $main-horizontal-padding;
  }
}

.layout-main {
  order: 1;
  flex: 1;  /* To always fill at least the whole page height */
  padding: 30px $main-horizontal-padding 0;
}

.layout-popup {


  position: fixed;
  z-index: 1;
  top: $popup-top-offset + $header-height;
  right: 17px;
}


@media (max-width: $header-max-width-breakpoint) {

  .layout-body {
    padding-top: $header-height-smaller-screens;
  }

  .layout-popup {
    top: $popup-top-offset + $header-height-smaller-screens;
  }

}


@media (max-width: 1150px) {

  .layout-main,
  .layout-page-footer,
  .layout-footer-popup {
    padding-left: $main-horizontal-padding-small-screens;
    padding-right: $main-horizontal-padding-small-screens;
  }

}
