/* List whose elements are rectangular boxes stacked in rows */


$elements-spacing: 6px;


/* The whole list */
.boxed-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* To compensate for left and bottom margins of elements */
  width: calc(100% + #{$elements-spacing});
  margin: 0 0 (-$elements-spacing) (-$elements-spacing);
  padding: 0 0 $elements-spacing 0;
}


/* One element of the list */
.boxed-list_element {
  margin: 0 0 $elements-spacing $elements-spacing;
}


/* Empty element that makes sure that the last row of the flexbox container is
   filled, so that the actually visible items nicely align to the left. */
.boxed-list_element-dummy {
  margin: 0 !important;
  height: 0 !important;
  padding: 0 !important;
}
