/* Popup which appears as a fixed footer on the bottom of the screen. */


@import "shared";


$padding-top: 45px;
$image-width: 100px;
$image-height: 39px;


/* The whole footer container. */
.footer-popup {
  display: flex;
  z-index: 1;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: {
    top: $padding-top;
    bottom: 46px;
  }
  background: #228570;
  opacity: 0.9;
  font: {
    size: 24rem;
    weight: 300;
  }

}

/* Main content of the footer. */
.footer-popup_content{

  position: relative;  /* To relatively position it's child pseudo element */
  top: -8px;

  /* Image displayed next to the content. */
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -$image-width - 27px;
    top: -4px;
    width: $image-width;
    height: $image-height;
    background: url("../#{$images-dir}/bus-icon.png") left  center no-repeat;
  }

}


@media (max-width: 1100px) {

  $image-offset: $image-height + 5px;

  .footer-popup {
    padding-top: $padding-top + $image-offset;
  }

  .footer-popup_content::before {
    top: -$image-offset;
    left: calc(50% - #{$image-width / 2});
  }

}
