/* Top margin of links section, used only when the screen is small enough so text-horizontal-rule
   links collapse to the next line. */
$links-vertical-spacing: 19px;


.footer {

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  background: #117760;

  h2 {
    width: 100%;
    margin: 0 0 -#{$links-vertical-spacing - 4px};
    color: inherit;
    font: {
      family: "PFBeauSansPro";
      size: 24rem;
      weight: 700;
    }
    text-transform: none;
    text-align: inherit;
  }

  h3 {
    flex: 1 1 auto;  /* To always align navigation to the right */
    margin: $links-vertical-spacing 50px 0 0;
    font: {
      family: "Myriad Pro";
      size: 16rem;
      weight: 400;
    }
    text-align: inherit;
  }

}


.footer_navigation {
  margin: $links-vertical-spacing 0 0;
}


.footer_navigation-list {

  display: flex;
  flex-flow: row nowrap;

  & > li {
    display: inline-block;
  }

  & > li + li {
    margin-left: 36px;
  }

}


.footer_navigation-link {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}


.footer_note {
  border-top: 2px solid #0c5645;
  margin: 24px 0 0;
  padding: 24px 0 0;
  font: {
    family: "Myriad Pro";
    size: 11rem;
  }
  line-height: #{(36px / 22px)}em;
}


@media (max-width: 650px) {

  .footer h3 {
    margin-top: $links-vertical-spacing + 10px;
  }

  .footer_navigation-list {

    flex-flow: column nowrap;

    & > li + li {
      margin: 15px 0 0;
    }
  }

}
