@import "shared";


// Icon image for the link
@mixin icon-image($image-url, $image-width) {
  margin-left: (83px - $image-width);
  padding-left: $image-width + 13px;
  background: {
    image: $image-url;
  }
}


.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 0 52px 0 39px;
  background: #ff540e;
  font-size: 22rem;
}


.header_logo {
  position: relative;
  top: 7px;
  left: -17px;
}


.header_link {

  /* Padding set to make room for the icon image to be displayed. */
  padding: 6px 0;
  color: inherit;
  background: {
    repeat: no-repeat;
    origin: padding-box;
    position: left center;
  }
  text-decoration: none;

  &.header_link-login {
    @include icon-image(url("../#{$images-dir}/glasses-icon.png"), 66px);
    margin-left: auto;
  }

  &.header_link-help {
    @include icon-image(url("../#{$images-dir}/help-icon.png"), 33px);
  }

}


@media (max-width: $header-max-width-breakpoint) {

  .header {
    flex-flow: column nowrap;
    align-items: flex-start;
    height: auto;
    padding: {
      top: 25px;
      bottom: 25px;
    }
  }

  .header_link {
    width: 100%;
    margin: 8px 0 0 0 !important;
    padding-left: 0 !important;
    background-image: none !important;
  }

}
