@import "shared";


.popup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 343px;
  padding: 13px 40px 16px 85px;
  border-radius: 10px;
  color: #ffffff;
  background: url("../#{$images-dir}/people-icon.png")
              left 20px top 14px no-repeat #0a7f5d;
  font-weight: 300;
  line-height: 1.25em;
}

.popup_close {
  @include close-button(#11644b, #45bd4f);
}
