@import "../tools";
@import "../shared";


.popup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 343px;
  min-height: 62px;
  padding: 13px 40px 16px 85px;
  border-radius: 10px;
  color: #ffffff;
  background: url("../#{$images-dir}/people-icon.png")
              left 20px top 14px no-repeat #0a7f5d;
  font-weight: 300;
  line-height: 1.25em;
}


.popup_close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 16px;
  height: 16px;
  color: transparent;
  background: url("../#{$images-dir}/close-button.png") center center no-repeat;
}


.popup_close-cross {
  position: relative;
  top: -12px;
}
