.toggle-visibility {

  $duration: 150ms;
  $delay: 1000ms;
  $timing: linear;

  transition: opacity $duration $timing,
              visibility $duration $timing;

  &.toggle-visibility_is-visible {
    /* Transition declared again so that the delay is active only when
       fading in */
    transition: opacity $duration $timing $delay,
                visibility $duration $timing $delay;
    visibility: visible;
    opacity: 1;
  }

}


/* Element that will be hidden by deafult and faded into view after some time */
.toggle-visibility_initially-hidden {
  visibility: hidden;
  opacity: 0;
}
